body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button, input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #0779e4;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #6a1d1d;
    border-radius: 5px;
    margin: 5px 0;
}

a.update {
    background-color: #28a745; /* Green */
}

a.delete {
    background-color: #dc3545; /* Red */
}

a.button:hover {
    opacity: 0.8;
}
